<!DOCTYPE html>
<html>
    <head>
        <title>The Great Emilia's vintage blog</title>
    </head>

    <h1>The Great Emilia's vintage blog</h1>
    <h2>Only high selected vintage treasures you will fall in love with!</h2>
    <h3>Looking for some special items, unique gifts or just pretty things? You just found the right place!</h3>
    
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </article>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </article>
</body>
</html>